<section>
	<div class="container">
		<h2 class="o-title">Calendar</h2>
		<header class="c-monthnav">
			<div class="row">
				<div class="col-xs-1">
					<a href=""><i class="fa fa-angle-left"></i></a>
				</div>
				<div class="col-xs-10">
					<h3><i class="fa fa-calendar"></i> AUGUST</h3>
				</div>
				<div class="col-xs-1">
					<a href=""><i class="fa fa-angle-right"></i></a>		
				</div>
			</div>
		</header>
		<div class="u-txt--right">
			<button type="button" class="o-btn o-btn--default" ng-click="toggleFilterCat()">
				Categories <i class="fa fa-caret"></i>
			</button>
			<button type="button" class="o-btn o-btn--default" ng-click="toggleFilterVisibility()">
				Visibility <i class="fa fa-caret"></i>
			</button>
		</div>
	</div>
	<div id="filterCategories" class="c-filter" ng-show="showFilterCat">
		<div class="container">
			<label class="c-filter__item" ng-repeat="category in categories">
				<input
				type="checkbox"
				name="category[]"
				value="{{category.name}}"
				ng-model="category.selected"
				>
				<span class="o-icon o-icon--lg">
					<svg>
					    <use xlink:href="" ng-attr-xlink:href="{{ 'calendar#' + category.iconName}}" />
					</svg>
				</span>
				<span>{{category.name}}</span>
			</label>
		</div>
	</div>
				
	<div id="filterVisibility" class="c-filter" ng-show="showFilterVisibility">
		<div class="container">
			<label class="c-filter__item" ng-repeat="visibility in visibility">
				<input
				type="checkbox"
				name="visibility[]"
				value="{{visibility.name}}"
				ng-model="visibility.selected"
				> 
				<span class="o-icon o-icon--lg">
					<svg>
					    <use xlink:href="" ng-attr-xlink:href="{{ 'calendar#' + visibility.iconName}}" />
					</svg>
				</span>
				<span>Visible {{visibility.name}}</span>
			</label>
		</div>
	</div>

	<div class="container">
		<div class="row o-grid--half">	
			<div class="col-sm-6" ng-repeat="event in filteredEvents = (events | selectedFilters:selection | dateFilter:dateFrom:dateTo | orderBy: date)">
				<article class="c-event">
					
					<time class="c-event__time" datetime="{{event.date | date:'YYYY-MM-dd'}}">
						{{ event.date | date:'MMM' }}
						<strong class="c-event__day">{{ event.date | date:'dd' }}</strong>
					</time>

					<h3 class="c-event__title">{{event.name}}</h3>
					<div class="c-event__desc">
						<p>
							<i class="fa fa-eye"></i> Visible {{event.visibility}} <br>
							<i class="fa fa-eye"></i> Category: <span ng-repeat="category in event.category">
								{{category}}
								{{$last ? '' : ', '}}
							</span>
						</p>
						<a href="/#/calendar/event/{{event._id}}" class="o-btn o-btn--default o-btn--sm c-event__add">
							<i class="fa fa-plus-circle"></i> Read more
						</a>
						<!-- <button type="button" class="o-btn o-btn--primary o-btn--sm c-event__add">
							<i class="fa fa-calendar-plus-o"></i> Add to my calendar
						</button> -->
					</div>
				</article>
			</div>
		</div>
		<p ng-if="filteredEvents.length === 0" class="u-txt--center">
			Sorry, we didn't find any event matching your criteria for this month.
		</p>
		
	</div>
</section>