<section>
	<div class="container">
		<h2 class="o-title">Calendar</h2>
		<header class="c-monthnav">
			<div class="row">
				<div class="col-xs-1">
					<a href="{{routePrevMonth}}"><i class="fa fa-angle-left"></i></a>
				</div>
				<div class="col-xs-10">
					<h3><i class="fa fa-calendar"></i> {{dateTitle}}</h3>
				</div>
				<div class="col-xs-1">
					<a href="{{routeNextMonth}}"><i class="fa fa-angle-right"></i></a>		
				</div>
			</div>
		</header>
		<div class="u-txt--right">
			<button type="button" class="o-btn" ng-class="showFilterCat ? 'o-btn--primary' : 'o-btn--default' " ng-click="toggleFilterCat()">
				Categories <i class="fa fa-caret"></i>
			</button>
			<button type="button" class="o-btn" ng-class="showFilterVisibility ? 'o-btn--primary' : 'o-btn--default' " ng-click="toggleFilterVisibility()">
				Visibility <i class="fa fa-caret"></i>
			</button>
		</div>
	</div>
	<div class="c-filter" ng-show="showFilterCat">
		<div class="container">
			<label class="c-filter__item" ng-repeat="category in categories">
				<input
				type="checkbox"
				name="category[]"
				value="{{category.name}}"
				ng-model="category.selected"
				>
				<span class="o-icon o-icon--lg">
					<svg>
					    <use xlink:href="" ng-attr-xlink:href="{{ activePage + '#' + category.iconName}}" />
					</svg>
				</span>
				<span>{{category.name}}</span>
			</label>
		</div>
	</div>
				
	<div class="c-filter" ng-show="showFilterVisibility">
		<div class="container">
			<label class="c-filter__item" ng-repeat="visibility in visibility">
				<input
				type="checkbox"
				name="visibility[]"
				value="{{visibility.name}}"
				ng-model="visibility.selected"
				> 
				<span class="o-icon o-icon--lg">
					<svg>
					    <use xlink:href="" ng-attr-xlink:href="{{ activePage + '#' + visibility.iconName}}" />
					</svg>
				</span>
				<span>{{visibility.name}}</span>
			</label>
		</div>
	</div>

	<div class="container">
		<p ng-if="selection.length > 0 || selectionVisibility.length > 0" class="u-txt--center">
			Filtering by:
			<span ng-repeat="item in selection">
				{{item}}
				{{$last ? '' : ', '}}
			</span>
			{{selection.length > 0 && selectionVisibility.length > 0 ? ',' : ''}}
			<span ng-repeat="item in selectionVisibility">
				{{item}}
				{{$last ? '' : ', '}}
			</span>
		</p>
		
		<div class="row o-grid--half">	
			<div class="col-sm-6" ng-repeat="event in filteredEvents = (events | selectedFilters:selection | dateFilter:dateFrom:dateTo | orderBy: date)">
				<event-preview info="event" iconvisibility="iconVisibilityName(event)" iconcategory="iconCategoryName(event)" active-page="activePage"></event-preview>
			</div>
		</div>
		<p ng-if="filteredEvents.length === 0" class="u-txt--center">
			Sorry, we didn't find any event matching your criteria for this month.
		</p>
		
	</div>
</section>