<div class="container">
	<h2 class="o-title">Credits</h2>
	<p>This website has been developed by Núria Soriano as the final project for the coding bootcamp at <a href="http://skylabcoders.com" target="_blank">Skylab Coders</a>. It runs on MEAN (MongoDB, Express, Angular and Node).</p>
	<p>Space events and their information are gathered mainly from <a href="https://in-the-sky.org/" target="_blank">In The Sky</a>, a website developed by Dominic Ford.</p>
	<p>Background image: Spiral galaxy M81 (<a href="https://www.spacetelescope.org/images/opo1438b/" target="_blank">source</a>). Credit: NASA, ESA, A. Zezas (CfA), and A. Filippenko (UC Berkeley). Acknowledgment: Hubble Heritage Team (STScI/AURA) &amp; O. Fox (University of California, Berkeley)</p>
</div>