<article class="c-event">
	
	<time class="c-event__time" datetime="{{event.date | date:'YYYY-MM-dd'}}">
		{{ event.date | date:'MMM' }}
		<strong class="c-event__day">{{ event.date | date:'dd' }}</strong>
	</time>

	<h3 class="c-event__title">{{event.name}}</h3>
	<div class="c-event__desc">
		<p>
			<span class="o-icon">
				<svg>
				    <use xlink:href="" ng-attr-xlink:href="{{ activePage + iconvisibility({event: event}) }}" />
				</svg>
			</span>
			{{event.visibility}}<br>
			<span class="o-icon">
				<svg>
				    <use xlink:href="" ng-attr-xlink:href="{{ activePage + iconcategory({event: event}) }}" />
				</svg>
			</span>
			Category: <span ng-repeat="category in event.category">
				{{category}}
				{{$last ? '' : ', '}}
			</span>
		</p>
		
		<a href="/#/event/{{event._id}}" class="o-btn o-btn--default o-btn--sm c-event__add">
			<i class="fa fa-plus-circle"></i> Read more
		</a>
	</div>

</article>