<div class="container">
	<h2 class="o-title">Calendar</h2>
	<div class="u-txt--right">
		<button type="button" class="o-btn o-btn--default" ng-click="back()"><i class="fa fa-angle-left"></i> Back</button>
	</div>
	<article class="c-event">
		<div class="c-event__summary">
			<time class="c-event__time" datetime="{{event.info.date | date:'YYYY-MM-dd'}}">
				{{ event.info.date | date:'MMM' }}
				<strong class="c-event__day">{{ event.info.date | date:'dd' }}</strong>
			</time>

			<h3 class="c-event__title">{{event.info.name}}</h3>
			
			<div class="c-event__desc">
				<p>
					<span class="o-icon">
						<svg>
						    <use xlink:href="" ng-attr-xlink:href="{{ activePage + event.iconVisibilityName(event.info) }}" />
						</svg>
					</span>
					{{event.info.visibility}}<br>
					<span class="o-icon">
						<svg>
						    <use xlink:href="" ng-attr-xlink:href="{{ activePage + event.iconCategoryName(event.info) }}" />
						</svg>
					</span>
					Category: <span ng-repeat="category in event.info.category">
						{{category}}
						{{$last ? '' : ', '}}
					</span>
				</p>			
			</div>
		</div>		

		<div class="c-event__bd">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-sm-offset-1">
					<p ng-repeat="p in event.info.description" ng-bind-html="event.renderHtml(p)">
					</p>
					<p><small>Credit: Dominic Ford (<a href="{{event.info.link}}" target="_blank">source</a>)</small> </p>
					
					<button type="button" class="o-btn o-btn--primary o-btn--sm c-event__add" ng-if="user" ng-hide="event.added()" ng-click="event.addToCalendar()">
						<i class="fa fa-calendar-plus-o"></i> Add to my calendar
					</button>
					<span class="o-btn o-btn--primary o-btn--sm c-event__add" ng-if="event.user" ng-show="event.added()">
						<i class="fa fa-check"></i> Added
					</span>	
				</div>
			</div>
		</div>

		
	</article>	
</div>	

<div ng-if="event.passed">
	<section>
		<h2 class="o-title">Pictures of this event</h2>
		<div class="c-gallery">
			<div class="container">
				<div class="row">
					<div class="col-sm-4" ng-repeat="image in event.info.images">
						<section class="c-card">
							<a href="#" ng-click="event.openLightboxModal($index)">
								<img src="img/uploaded/{{image.route}}" alt="{{image.name}}">
							</a>
							<div class="c-card__bd">
								<h3 class="c-card__title">{{image.title}}</h3>
								<span class="c-card__author"><a href="/user/{{image.username}}">{{image.username}}</a></span>
							</div>
													
						</section>
						
					</div>
				</div>
				<div ng-if="!event.info.images.length" class="u-txt--center">
					No pictures yet!
				</div>
				<footer class="c-gallery__ft">
					<button ng-if="event.user" ng-click="event.openModal()" class="o-btn o-btn--primary">UPLOAD YOUR PHOTO</button>
				</footer>
			</div>
		</div>
	</section>
	<section ng-if="event.user" ng-show="event.showModal"  class="c-modal">
		<div class="c-modal__bd">
			<button class="c-modal__close" ng-click="event.closeModal()"><i class="fa fa-remove"></i></button>
			<div ng-controller="uploadController">
				<h4>Upload a picture:</h4>
				<form name="uploadForm" class="o-form">					
				    <div class="o-form__group">
				    	<label for="title">Title:</label>
				    	<input type="text" class="o-form__input" name="title" ng-model="picName" required>
				    </div>
				    <div class="o-form__group">
				    	<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
				    </div>
				    
					<i ng-show="uploadForm.file.$error.maxSize">File too large 
					  {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
					<div class="o-form__group">
						<img ng-show="uploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> 
						<button ng-click="picFile = null" ng-show="picFile" class="o-btn o-btn--danger o-btn--sm"><i class="fa fa-trash"></i> Remove</button>
					</div>

					<button ng-disabled="!uploadForm.$valid" 
					      ng-click="uploadPic(picFile, picName, event.info._id)" class="o-btn o-btn--primary o-btn--block o-btn--sm">Submit</button>
					<span class="progress" ng-show="picFile.progress >= 0">
					<div style="width:{{picFile.progress}}%" 
					    ng-bind="picFile.progress + '%'"></div>
					</span>
					<span ng-show="picFile.result">Upload Successful</span>
					<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
				</form>
			</div>
		</div>
	</section>
</div>