<div class="container">
	<h2 class="o-title">Calendar</h2>
	<div class="u-txt--right">
		<button type="button" class="o-btn o-btn--default" ng-click="back()"><i class="fa fa-angle-left"></i> Back</button>
	</div>
	<article class="c-event">
		<div class="c-event__summary">
			<time class="c-event__time" datetime="{{event.date | date:'YYYY-MM-dd'}}">
				{{ event.date | date:'MMM' }}
				<strong class="c-event__day">{{ event.date | date:'dd' }}</strong>
			</time>

			<h3 class="c-event__title">{{event.name}}</h3>
			
			<div class="c-event__desc">
				<p>
					<span class="o-icon">
						<svg>
						    <use xlink:href="" ng-attr-xlink:href="{{ activePage + iconVisibilityName(event) }}" />
						</svg>
					</span>
					{{event.visibility}}<br>
					<span class="o-icon">
						<svg>
						    <use xlink:href="" ng-attr-xlink:href="{{ activePage + iconCategoryName(event) }}" />
						</svg>
					</span>
					Category: <span ng-repeat="category in event.category">
						{{category}}
						{{$last ? '' : ', '}}
					</span>
				</p>			
			</div>
		</div>		

		<div class="c-event__bd">
			<div class="row">
				<div class="col-sm-10 col-md-8 col-sm-offset-1">
					<p ng-repeat="p in event.description" ng-bind-html="renderHtml(p)">
					</p>
					<p><small>Credit: Dominic Ford (<a href="{{event.link}}" target="_blank">source</a>)</small> </p>
					
						<button type="button" class="o-btn o-btn--primary o-btn--sm c-event__add" ng-if="user" ng-hide="added()" ng-click="addToCalendar()">
							<i class="fa fa-calendar-plus-o"></i> Add to my calendar
						</button>
						<span class="o-btn o-btn--primary o-btn--sm c-event__add" ng-if="user" ng-show="added()">
							<i class="fa fa-check"></i> Added
						</span>	
					
					
				</div>
			</div>
		</div>

		
	</article>	
	
	<div ng-if="passed">
		<section class="row">
			<div class="col-sm-4" ng-repeat="image in event.images">
				<h3>{{image.title}}</h3>
				<img src="img/uploaded/{{image.route}}" alt="{{image.name}}">
			</div>
		</section>
		<section ng-if="user" ng-controller="uploadController">
			<h4>Upload a picture:</h4>
			<form name="myForm" class="o-form">
			    <div class="o-form__group">
			    	<label for="title">Title:</label>
			    	<input type="text" name="title" ng-model="picName" required>
			    </div>
			    <div class="o-form__group">
			    	<input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="2MB" required ngf-model-invalid="errorFile">
			    </div>
			      
				<i ng-show="myForm.file.$error.maxSize">File too large 
				  {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
				<img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>

				<button ng-disabled="!myForm.$valid" 
				      ng-click="uploadPic(picFile, picName)">Submit</button>
				<span class="progress" ng-show="picFile.progress >= 0">
				<div style="width:{{picFile.progress}}%" 
				    ng-bind="picFile.progress + '%'"></div>
				</span>
				<span ng-show="picFile.result">Upload Successful</span>
				<span class="err" ng-show="errorMsg">{{errorMsg}}</span>
			</form>
		</section>
	</div>
	
</div>