<article class="c-event c-event__summary">
	
	<time class="c-event__time" datetime="{{event.date | date:'YYYY-MM-dd'}}">
		{{ event.date | date:'MMM' }}
		<strong class="c-event__day">{{ event.date | date:'dd' }}</strong>
	</time>
	<h3 class="c-event__title">{{event.name}}</h3>
	<div class="c-event__desc">
		<p>
			<span class="o-icon">
				<svg>
				    <use xlink:href="" ng-attr-xlink:href="{{ activePage + iconvisibility({event: event}) }}" />
				</svg>
			</span>
			{{event.visibility}}<br>
			<span class="o-icon">
				<svg>
				    <use xlink:href="" ng-attr-xlink:href="{{ activePage + iconcategory({event: event}) }}" />
				</svg>
			</span>
			Category: <span ng-repeat="category in event.category">
				{{category}}
				{{$last ? '' : ', '}}
			</span>
		</p>
		
		<a href="/#/event/{{event._id}}" class="o-btn o-btn--default o-btn--sm c-event__add">
			<i class="fa fa-plus-circle"></i> Read more
		</a>

		<button type="button" class="o-btn o-btn--primary o-btn--sm c-event__add" ng-if="user" ng-hide="added()" ng-click="addcal()">
			<i class="fa fa-calendar-plus-o"></i> Add to my calendar
		</button>
		<span class="o-btn o-btn--primary o-btn--sm c-event__add" ng-if="user" ng-show="added()">
			<i class="fa fa-check"></i> Added
		</span>
		<button type="button" class="o-btn o-btn--danger o-btn--sm  c-event__add" ng-if="activePage.length && activePage.indexOf('myprofile') !== -1" ng-click="removecal()">
			<i class="fa fa-trash"></i> Remove from calendar
		</button>
	</div>

</article>