<section class="c-intro">
	<header class="c-intro__logo">
		<img src="img/logo.png" alt="StarStuff">
	</header>

	<p class="c-intro__quote">“The nitrogen in our DNA, the calcium in our teeth, the iron in our blood, 
			the carbon in our apple pies were made in the interiors of collapsing stars. 
			We are made of starstuff.” 
	<strong>Carl Sagan</strong>
	</p>

	<p>StarStuff helps you keep up to date with all things space related. Keep track of the next meteor shower, moon eclipse or passing comet. Look at how others have seen the events and share your own photographs.</p>
</section>

<section>
	<div class="container">
		<h2 class="o-title">Upcoming Events</h2>
		<section ng-controller="eventsController">
			<div class="row o-grid--half">	
				<div class="col-sm-6" ng-repeat="event in filteredEvents = (events | orderBy: 'date')">
					<event-preview info="event" iconvisibility="iconVisibilityName(event)" iconcategory="iconCategoryName(event)" addcal="addToCalendar(user, event._id)" added="added(user, event._id)" user="user"></event-preview>

					<!-- <event-preview info="event" iconvisibility="iconVisibilityName(event)" iconcategory="iconCategoryName(event)" active-page="activePage" ></event-preview> -->
				</div>
			</div>
			<p ng-if="filteredEvents.length === 0" class="u-txt--center">
				Sorry, we didn't find any event matching your criteria for this month.
			</p>
			<footer class="u-txt--center">
				<a href="{{home.routeToCalendar}}" class="o-btn o-btn--primary">SEE FULL CALENDAR</a>
			</footer>	
		</section>
	</div>
</section>

<section ng-controller="imagesController as images">
	<h2 class="o-title">Latest Pictures</h2>
	<div class="c-gallery">
		<div class="container">
			<div class="row">
				<div class="col-sm-4" ng-repeat="image in images.images | orderBy: 'dateUploaded':true">
					<photo image="image" open-lightbox-modal="images.openLightboxModal($index)" ></photo>
				</div>
			</div>
			<div ng-if="!images.images.length" class="u-txt--center">
				No pictures yet!
			</div>
			<!-- <footer class="c-gallery__ft">
				<a href="/#/gallery" class="o-btn o-btn--primary">SEE MORE PICTURES</a>
			</footer> -->
		</div>
	</div>
</section>