
<section class="c-intro">
	<header class="c-intro__logo">
		<img src="img/logo.png" alt="StarStuff">
	</header>

	<p class="c-intro__quote">“The nitrogen in our DNA, the calcium in our teeth, the iron in our blood, 
			the carbon in our apple pies were made in the interiors of collapsing stars. 
			We are made of starstuff.” 
	<strong>Carl Sagan</strong>
	</p>

	<p>StarStuff helps you keep up to date with all things space related. Keep track of the next meteor shower, moon eclipse or passing comet. Look at how others have seen the events and share your own photographs.  </p>
</section>

<section>
	<div class="container">
		<h2 class="o-title">Upcoming Events</h2>
		
		<div class="row o-grid--half" ng-controller="eventsController">	
			<div class="col-sm-6" ng-repeat="event in events | limitTo:10 | orderBy: date | dateFilter:$parent.range.dateFrom:$parent.range.dateTo">
				<event-preview info="event" iconvisibility="iconVisibilityName(event)" iconcategory="iconCategoryName(event)"></event-preview>
			</div>
		</div>
		
		<footer class="u-txt--center">
			<a href="{{routeToCalendar}}" class="o-btn o-btn--primary">SEE FULL CALENDAR</a>
		</footer>	
	</div>
</section>

<!-- <section ng-controller="galleryController">
	<h2 class="o-title">Latest Pictures</h2>
	<div class="c-gallery">
		<div class="container">
			<div class="row">
				<div class="col-sm-4" ng-repeat="pic in gallery">
					<section class="c-card">
						<a href="/#">
							<img src="http://placehold.it/400x250" alt="a">		
						</a>
						<div class="c-card__bd">
							<h3 class="c-card__title"><a href="/#/">Perseid meteor shower</a></h3>
							<span class="c-card__author"><a href="/#/">Author name</a></span>
						</div>
												
					</section>
					
				</div>
			</div>
			<footer class="c-gallery__ft">
				<a href="/#/gallery" class="o-btn o-btn--primary">SEE MORE PICTURES</a>
			</footer>
		</div>
	</div>
</section> -->