<div class="container">
	<h2 class="o-title">Login</h2>
	<div class="c-login">
		<div ng-show="showError" class="o-alert o-alert--danger">Error! Incorrect username or password</div>
		<form ng-submit="login()" class="o-form">
			<div class="o-form__group">
				<label for="username" class="o-form__label">Username:</label>
				<input type="text" ng-model="user.username" name="username" id="username" required class="o-form__input">
			</div>
			<div class="o-form__group">
				<label for="password" class="o-form__label">Password:</label>
				<input type="password" ng-model="user.password" name="password" id="password" required class="o-form__input">
			</div>
			<button type="submit" class="o-btn o-btn--block o-btn--primary o-form__submit">Login</button>
		</form>
	</div>
</div>