<section class="container">
	<h2 class="o-title">My profile</h2>
	
	
	<h3>
		Hello, {{user.username}} <a href="#" ng-click="logout()" class="small">(<i class="fa fa-power-off"></i> Logout)</a>
	</h3>	
	<header class="row">
		<div class="col-xs-6">
			<h4>My saved events</h4>
		</div>
		<div class="col-xs-6 u-txt--right" ng-if="events.length">
			<button type="button" class="o-btn o-btn--default o-btn--sm" ng-click="viewPast()" ng-hide="reverse">View past events</button>
			<button type="button" class="o-btn o-btn--default o-btn--sm" ng-click="viewUpcoming()" ng-show="reverse">View upcoming events</button>	
		</div>
	</header>	
	<div class="row o-grid--half">	
		<div class="col-sm-6" ng-repeat="event in events | orderBy: 'date' : reverse | dateFilter:range.dateFrom:range.dateTo">
			<event-preview info="event" iconvisibility="iconVisibilityName(event)" iconcategory="iconCategoryName(event)" active-page="activePage" added="added" removecal="removeFromCalendar(event._id)"></event-preview>
		</div>	
	</div>
	<p ng-if="events.length === 0">
		You haven't added any event to your calendar yet. 
		<a href="/calendar">Go and add some!</a>
	</p>
</section>

<section ng-controller="imagesController as gallery">
	<h2 class="o-title">{{user.username}}'s Gallery</h2>
	<div class="c-gallery">
		<div class="container">
			<div class="row">
				<div class="col-sm-4" ng-repeat="image in gallery.images | orderBy: 'dateUploaded':true">
					<photo image="image" open-lightbox-modal="gallery.openLightboxModal($index)" ></photo>
				</div>
			</div>
			<div ng-if="!gallery.images.length" class="u-txt--center">
				You haven't uploaded any picture yet! Grab your camera and take some photos tonight.
			</div>
		</div>
	</div>
</section>