.o-btn {
	display: inline-block;
	padding: .6rem 1.8rem;
	border: .1rem solid;
	color: $text-c;
	font-size: 1.8rem;
	font-weight: 300;
	&--primary {
		background: $primary-c;
		border-color: $primary-c;
		color: #fff;
		&:hover {
			color: #fff;
		}
	}
	&--default {
		background: transparent;
		color: $primary-c;
		&:hover {
			color: $primary-c;
		}
	}
	&--danger {
		background: transparent;
		color: $danger-c;
		&:hover {
			background: $danger-c;
			border-color: $danger-c;
			color: #fff;
		}

	}
	&--sm {
		font-size: 1.6rem;
	}
	&--block {
		display: block;
		width: 100%;
	}
	&:hover {
		text-decoration: none;
		opacity: .8;
	}
	.fa {
		margin-right: .5rem;
	}
}