.c-intro {
	width: 73rem;
	max-width: 100%;
	margin: 11rem auto;
	font-size: 2.2rem;
	font-weight: 300;
	text-align: center;
	h1 {
		margin-bottom: 5rem;
	}
	&__quote {
		width: 57rem;
		max-width: 100%;
		margin: 0 auto 2rem;
		font-size: 1.8rem;
		font-style: italic;
		strong {
			display: block;
			margin-top: .5rem;
			font-size: 1.7rem;
			font-style: normal;
			font-weight: 400;
		}
	}
	.o-btn {
		margin-top: 2rem;
		.fa-angle-down {
			display: block;
			margin: 0 auto;
		}
	}
}