.c-card {
	margin: 1.5rem 0;
	position: relative;
	&__img {
		display: block;
		height: 25rem;
		@include bgcover;
		text-indent: -9999px;
	}
	&__bd {
		width: 100%;
		padding: 1.5rem;
		position: absolute;
		bottom: 0;
		left: 0;
		visibility: hidden;
		opacity: 0;
		background: rgba(0,0,0,.8);
		transition: all .3s;
	}
	&__title {
		margin: 0 0 .5rem;
		font-size: 2rem;
	}
	&__info {
		font-style: italic;
		opacity: .8;
	}
	&:hover {
		.c-card__bd {
			visibility: visible;
			opacity: 1;
		}
	}
}