.c-hd {
	@include cf;
	width: 100%;
	position: fixed;
	margin: 0;
	top: 0;
	left: 0;
	z-index: 999;
	background: rgba(0,0,0,.8);
	transition: opacity .3s;
	@media screen and (max-width: 767px){
		text-align: center;
	}
	&--home {
		&:not(.ui-scrollpoint) {
			position: absolute;
			top: 10rem;
			visibility: hidden;
			opacity: 0;	
		}
		&.ui-scrollpoint {
			visibility: visible;
			opacity: 1;
		}
		
	}
	&__logo {
		width: 30rem;
		max-width: 100%;
		margin: 0;
		padding: 1.5rem 0;
		transition: all .3s;
		@media screen and (max-width: 767px){
			margin: 0 auto;
		}
		img {
			max-width: 100%;
		}
	}
	&__nav {
		@media screen and (min-width: 768px){
			float: right;	
		}
		
	}

}