html{
	height: 100%;
	font-size: 62.5%;
}
body {
	min-height: 100%;
	padding-top: 11.5rem;
	background: #000 url('../img/bg.jpg') top center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	font-family: $font;
}
a, button, input {
	transition: all .3s;
}
img {
	max-width: 100%;
}